img
{
  object-fit: cover;
}
.bad
{
  position: relative;
  top:-8px;
  color:Red;
}
.home{
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.item:hover{
   color: #4158D0 !important;
}
.link{
  text-decoration: none;
  color:white;
  padding: 2px;
  margin: 4px;
  font-size: 1.5rem;
  
}
.link:hover
{
  color:black;

}

.slider
{
  width: 50vw;

  margin: auto;

  text-align: center;
}
.slider-img
{
   width: 30vw;
   height:50vh;
object-fit: contain;
margin: auto;

}
.navb{
   position: sticky !important;
    
   background-color: #4158D0 !important;
   margin-bottom:  4vh !important;
   height:8vh;
  

}

.cart{
  height:1500px;
}